<ion-view view-title="CreateAccount" name="create-account-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
		  <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="data.confirmPassword">
          </label>
		  <label class="item item-input">
              <input type="text" placeholder="Where are you from?" ng-model="data.location">
          </label>
      </div>
	  <button class="button button-block button-calm" ng-disabled="!(data.password === data.confirmPassword)" ng-click="createAccount()" >Create Account</button>
  </ion-content>
</ion-view>